{% extends 'base.html' %}
{% block content %}
<div class="bg">
    <div class="container mt-3 "id="white">
    <h2>Lista de Técnicos</h2>
    <input class="form-control" id="myInput" type="text" placeholder="Buscar">
    <br>
  <div class="table-responsive">
  <table class="table table-hover table-bordered" id="myTable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Teléfono</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="myBody">
      {% for tecnico in data %}
        <tr class="clickable-row">
            <td>{{tecnico.id}}</td>
            <td>{{tecnico.name}}</td>
            <td>{{tecnico.email}}</td>
            <td>{{tecnico.phone}}</td>
            <td><a href="/home/edit_tech/{{ tecnico.id }}" id="link">Editar</a></td>
            <td><a href="/home/delete_tech/{{ tecnico.id }}" class="confirmation" id="link">Eliminar</a></td>
        </tr>
      {% endfor %}
      </tbody>
  </table> 
  <a class="btn btn-outline-warning btn-lg float-right" href="/home/add_tech/" role="button">Agregar Técnico</a>
  </div>
  <script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myBody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>

  <script>
      $('#myTable').on('click', '.clickable-row', function(event) {
          $(this).addClass('bg-info').siblings().removeClass('bg-info');
        });
  </script>

  <script type="text/javascript">
    $('.confirmation').on('click', function () {
        return confirm('Estas a punto de eliminar un técnico ¿Deseas continuar?');
    });
  </script>
</div>
{% endblock %}