{% extends 'base.html' %}
{% block content %}
<div class="bg">
  <div class="container mt-3 "id="white">
    <h2>Lista de Odt</h2>
    <input class="form-control" id="myInput" type="text" placeholder="Buscar">
    <br>
  <div class="table-responsive">
  <table class="table table-hover table-bordered" id="myTable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Técnico</th>
          <th>Cliente</th>
          <th>Fecha Inicio</th>
          <th>Hora Inicio</th>
          <th>Fecha Fin</th>
          <th>Hora Fin</th>
        </tr>
      </thead>
      <tbody id="myBody">
      {% for orden in data %}
        <tr class="clickable-row">
            <td>{{orden.id}}</td>
            <td>{{orden.tech.name}}</td>
            <td>{{orden.client.name}}</td>
            <td>{{orden.start_date}}</td>
            <td>{{orden.start_time}}</td>
            <td>{{orden.end_date}}</td>
            <td>{{orden.end_time}}</td>
        </tr>
      {% endfor %}
      </tbody>
  </table> 

  <script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myBody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>

  <script>
      $('#myTable').on('click', '.clickable-row', function(event) {
          $(this).addClass('bg-info').siblings().removeClass('bg-info');
        });
  </script>
</div>
{% endblock %}