{% extends 'base.html' %}
{% block content %}
<div class="bg">
    <div class="container mt-3" id="white">  
        <div class="table-responsive">
            <table class="table table-hover table-bordered" id="myTable">
                <div class="form-group">
                        <label for="cliente">Cliente:</label>
                        <input type="cliente" class="form-control" name="cliente" value="{{cliente.name}}" disabled>
                </div>
                {%if cliente.tech %}
                <div class="form-group">
                        <label for="tecnico">Técnico:</label>
                        <input type="tecnico" class="form-control" name="tecnico" value="{{cliente.tech.name}}" disabled>
                </div>
                {% else %}
                    <p>Técnico: </p>
                    <p class="notassigned">No asignado</p>
                {% endif %} 
            </table>    
            <p>Modificar Técnico:</p>     
            <form method="POST">
            {% csrf_token %}
                <div class="form-group">
                    <select class="form-control" id="sel1" name="tech">
                        {% for tecnico in tecnicos%}
                        {% if not tecnico.is_staff %}
                        <option value="{{ tecnico.id }}">{{tecnico.name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-outline-warning btn-lg">Guardar</button>
            </form>             
        </div>                          
    </div>
</div>
{% endblock %}
