{% block detail_view %}
<div class="container mt-3">
    <h2>Lista de Clientes</h2>
    <input class="form-control" id="myInput" type="text" placeholder="Buscar">
    <br>
  <div class="table-responsive">
  <table class="table table-hover table-bordered" id="myTable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Región</th>
          <th>Ciudad</th>
          <th>Teléfono</th>
          <th>Email</th>
          <th>Técnico</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="myBody">
      {% for cliente in data %}
        <tr class="clickable-row">
            <td>{{cliente.id}}</td>
            <td>{{cliente.name}}</td>
            <td>{{cliente.address}}</td>
            <td>{{cliente.region}}</td>
            <td>{{cliente.city}}</td>
            <td>{{cliente.phone}}</td>
            <td>{{cliente.email}}</td>
            {% if cliente.tech %}
              <td>{{cliente.tech.name}}</td>
            {% else %}
              <td></td>
            {% endif %}
            <td><a href="/home/edit_client/{{ cliente.id }}">Editar</a></td>
            <td><a href="/home/delete_client/{{ cliente.id }}">Eliminar</a></td>
            <td><a href="/home/assign_tech/{{ cliente.id }}">Asignar Técnico</a></td>
        </tr>
      {% endfor %}
      </tbody>
  </table> 
  <a class="btn btn-outline-warning btn-lg float-right" href="/home/add_client/" role="button">Agregar Cliente</a>
  </div>
  {% endblock %}