{% extends 'base.html' %}
{% block content %}
<div class="bg">
  <div class="container bg" id="white">
    <h2>Orden de Trabajo</h2>
    <form method="POST">
      {% csrf_token %}
        <div class="form-group">
            <label for="id">ID:</label>
            <input type="id" class="form-control" name="id" value="{{orden.id}}" disabled>
        </div>
        <div class="form-group">
                <label for="cliente">Cliente:</label>
                <input type="cliente" class="form-control" name="cliente" value="{{orden.client.name}}" disabled>
        </div>
        <div class="form-group">
                <label for="start_date">Fecha Inicio:</label>
                <input type="start_date" class="form-control" name="start_date" value="{{orden.start_date}}" disabled>
        </div>
        <div class="form-group">
                <label for="start_time">Hora Inicio:</label>
                <input type="start_time" class="form-control" name="start_time" value="{{orden.start_time}}" disabled>
        </div>
        <div class="form-group">
                <label for="end_date">Fecha Termino:</label>
                <input type="end_date" class="form-control" name="end_date" value="{{orden.end_date}}" disabled>
        </div>
        <div class="form-group">
                <label for="end_time">Hora Termino:</label>
                <input type="end_time" class="form-control" name="end_time" value="{{orden.end_time}}" disabled>
        </div>
        <h2>Detalles:</h2>
        <div class="table-responsive">
            <table class="table table-hover table-bordered" id="myTable">
                <thead>
                    <tr>
                      <th>ID</th>
                      <th>Ascensor</th>
                      <th>Descripción</th>
                      <th>Fallas</th>
                      <th>Piezas</th>
                    </tr>
                </thead>
                <tbody id="myBody">
                {% for detalle in detalles %}
                    <tr class="clickable-row">
                        <td>{{detalle.id}}</td>
                        <td>{{detalle.elevator.id}} - {{detalle.elevator.model}}</td>
                        <td>{{detalle.detail}}</td>
                        <td>{{detalle.failure}}</td>
                        <td>{{detalle.piezas}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        </div>
        <a class="btn btn-outline-warning" href="/home/add_detail/{{ orden.id }}" role="button">Registrar Detalles</a>
        {% if orden.end_date %}
            <p>Registro de detalles automático <i class="fa fa-floppy-o"></i></p>
        {% else %}
            <button type="submit" class="btn btn-primary btn-lg confirmation">Finalizar ODT</button>
        {% endif %}
    </form>
  </div>

  <script type="text/javascript">
    $('.confirmation').on('click', function () {
        return confirm('¡Estas a punto de finalizar esta orden de trabajo! ¿Deseas continuar?');
    });
  </script>

</div>
{% endblock %}
