{% extends 'base.html' %}

{% load socialaccount %}

{% block content %}
<div class="bg2 " id="white">
    {% if not user.is_authenticated %}
      <div id="form-login">
        <form method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          <div>
            <p>Correo Electrónico:</p>
            <td>{{ form.username }}</td>
          </div>
          <br>
          <div>
            <p>Contraseña:</p>
            <td>{{ form.password }}</td>
          </div>
          {% if form.errors %}
            <p class=" label label-danger">
              Your username and password didn't match. 
              Please try again.
            </p>
          {% endif %}
          <br>
          <button type="submit" class="btn btn-outline-warning btn-lg">Iniciar Sesión</button>
        </form> 
        <a class="btn btn-primary btn-block" href="{% provider_login_url "facebook" method="oauth2" %}">
          <span class="fab fa-facebook"></span>
             Login with facebook
        </a>
      </div>
    {% else %}
      <p>Hola {{ user.first_name }}
      <br>
      Parece que ya has iniciado sesión</p>
    {% endif %}
</div>
{% endblock %}

