{% extends 'base.html' %}
{% block content %}
<div class="bg">
  <div class="container mt-3" id="white">
    <h2>Lista de Clientes</h2>
    <input class="form-control" id="myInput" type="text" placeholder="Buscar">
    <br>
  <div class="table-responsive">
  <table class="table table-hover table-bordered" id="myTable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Región</th>
          <th>Ciudad</th>
          <th>Teléfono</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="myBody">
      {% for cliente in data %}
        <tr class="clickable-row">
            <td>{{cliente.id}}</td>
            <td>{{cliente.name}}</td>
            <td>{{cliente.address}}</td>
            <td>{{cliente.region}}</td>
            <td>{{cliente.city}}</td>
            <td>{{cliente.phone}}</td>
            <td>{{cliente.email}}</td>
            <td><a href="/home/create_odt/{{ cliente.id }}" class="confirmation" id="link">Crear ODT</a></td>
        </tr>
      {% endfor %}
      </tbody>
  </table> 

  <script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myBody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>

  <script>
      $('#myTable').on('click', '.clickable-row', function(event) {
          $(this).addClass('bg-info').siblings().removeClass('bg-info');
        });
  </script>

  <script type="text/javascript">
    $('.confirmation').on('click', function () {
        return confirm('¿Deseas crear una nueva Orden de Trabajo para este cliente?');
    });
  </script>
</div>
{% endblock %}