{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Iniciar Sesión" %}{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}
<div class="bg2 " id="white">
  <div id="form-login">
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-outline-warning btn-lg" type="submit">{% trans "Iniciar Sesion" %}</button>
    <br>
  </form>
  {% if socialaccount_providers %}

<div class="socialaccount_ballot">

    {% include "socialaccount/snippets/provider_list.html" with process="login" %}

</div>

<a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "¿Olvidaste tu contraseña?" %}</a>

{% include "socialaccount/snippets/login_extra.html" %}


{% endif %}
  </div>


</div>
{% endblock %}
