{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Cerrar sesión" %}{% endblock %}

{% block content %}
<div class="bg2 " id="white">
    <div id="form-login">
      <p>{% trans '¿Estás seguro que deseas cerrar sesión :( ?' %}</p>

      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button type="submit">{% trans 'Cerrar sesión' %}</button>
      </form>
    </div>
</div>

{% endblock %}
