{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Cambio de Contraseña" %}{% endblock %}

{% block content %}

<div class="bg2 " id="white">

    <h1>{% trans "Olvidé mi contraseña" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "¿Olvidaste tu contraseña? Ingresa tu correo electrónico abajo, te enviaremos un email para que puedas realizar el cambio de tu contraseña." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Cambiar mi contraseña' %}" />
    </form>

    <p>{% blocktrans %}Por favor contáctanos si presentas problemas al resetear tu contraseña.{% endblocktrans %}</p>
</div>

{% endblock %}
