<!DOCTYPE html>
<html>
{% load pwa %}
<head>
    {% progressive_web_app_meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="/static/elevator_app/js/regiones.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/account/css/styles.css">
</head>
<body>
{% if user.is_authenticated %}
  {% if user.is_staff %}
    <div class="topnav" id="myTopnav">
      <a class="active bold" id="welcome">Welcome {{user.name}}</a>
      <a href="/home/tech_list" class="hover">Tecnicos</a>
      <a href="/home/client_list/" class="hover">Clientes</a>
      <a href="/home/odt_list/" class="hover">ODT</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
      </a>
    </div>
  {% else %}
    <div class="topnav" id="myTopnav">
      <a class="active" id="welcome">Welcome {{user.name}}</a>
      <a href="/home/client_list/" class="hover">Clientes</a>
      <a href="/home/odt_list/" class="hover">ODT</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
      </a>
    </div>
  {% endif %}
{% endif %}
{% block content %}
{% endblock %}

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>




</body>
</html>